<div class="site__navigation navigation">
    <div class="navigation__overlay"></div>
    <div class="navigation__container">
        <header class="navigation__header">
            <div class="navigation__burger ">
                <div class="hamburger active">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="navigation__logo logo">
                <a href="#">
                    <svg class="svg-icon">
                        <use xlink:href='img/svg/sprite.svg#logo' />
                    </svg>
                </a>
            </div>
        </header>
        <div class="navigation__body">
            <nav class="navigation__menu" data-title="Каталог товаров">
                <ul class="navigation__list menu">
                    <li class="menu-item menu-item-has-children menu-item-parent">
                        <a href="#" class="menu-navigation__link">Женщинам </a>
                        <ul class="navigation__list menu sub-menu">
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="menu-navigation__link">Одежда</a>
                                <div class="menu-catalog-items">
                                    <div class="menu-catalog-wrapper">
                                        <ul class="menu sub-menu">
                                            <li class="menu-item"><a href="#">Обувь</a></li>
                                            <li class="menu-item"><a href="#">Спорт</a></li>
                                            <li class="menu-item"><a href="#">Верхняя одежда</a></li>
                                            <li class="menu-item"><a href="#">Аксесуары</a></li>
                                            <li class="menu-item"><a href="#">Нижнее белье</a></li>
                                            <li class="menu-item"><a href="#">Обувь</a></li>
                                            <li class="menu-item"><a href="#">Спорт</a></li>
                                            <li class="menu-item"><a href="#">Верхняя одежда</a></li>
                                            <li class="menu-item"><a href="#">Аксесуары</a></li>
                                            <li class="menu-item"><a href="#">Нижнее белье</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Обувь</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Спорт</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Верхняя одежда</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Аксесуары</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Нижнее белье</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Нижнее белье</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Нижнее белье</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"
                                    class="menu-navigation__link">Нижнее белье</a></li>

                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="menu-navigation__link">Одежда</a>
                                <ul class="menu sub-menu">
                                    <li class="menu-item menu-item-has-children"><a href="#">Обувь</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Спорт</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Верхняя одежда</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Аксесуары</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Нижнее белье</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Обувь</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Спорт</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Верхняя одежда</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Аксесуары</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Нижнее белье</a></li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children menu-item-parent">
                        <a href="#" class="menu-navigation__link">Мужчинам <i class="menu-arrow"></i></a>
                    </li>
                    <li class="menu-item menu-item-has-children menu-item-parent">
                        <a href="#" class="menu-navigation__link">Детям <i class="menu-arrow"></i></a>
                    </li>
                </ul>
            </nav>

            <nav class="navigation__menu" data-title="Навигация">
                <ul class="navigation__list menu">
                    <li class="menu-item menu-item-has-children">
                        <a href="#">О нас</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Горячие скидки</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Новинки</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>