<footer class="footer">
    <div class="footer__subscribe subscribe">
        <div class="subscribe__img">
            <img src="img/subscribe.jpg" alt="">
        </div>
        <div class="subscribe__container container">
            <div class="subscribe__content">
                <div class="subscribe__title">Свежие акции и скидки!</div>
                <div class="subscribe__subtitle">Подписавшимся на нашу рассылку</div>

                <form action="#" class="subscribe__form">
                    <div class="subscribe__row">
                        <p>
                            <label for="name" class="for">Имя</label>
                            <input type="text" name="name">
                        </p>
                        <p>
                            <label for="name" class="email">Почта</label>
                            <input type="text" name="email">
                        </p>
                    </div>
                    <div class="subscribe__buttons">
                        <button class="button button-primary button-uppercase">
                            <span class="button__body"> Я женщина</span>
                        </button>
                        <button class="button button-secondary button-uppercase">
                            <span class="button__body"> Я мужчина </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="footer__container container">
            <div class="footer__column">
                <div class="footer__logo logo">
                    <a href="#">
                        <svg class="svg-icon">
                            <use xlink:href='img/svg/sprite.svg#logo' />
                        </svg>
                    </a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__icons">
                        <a href=""><img src="img/svg/facebook.svg" alt=""></a>
                        <a href=""><img src="img/svg/instagram.svg" alt=""></a>
                        <a href=""><img src="img/svg/telegram.svg" alt=""></a>
                    </div>

                    <ul class="footer__list">
                        <li><a href="#">+38 (098) 872872</a></li>
                        <li><a href="#">sale@uacasual.shop</a></li>
                    </ul>

                    <ul class="footer__list">
                        <li>Пн-Пт: 12:00 - 19:00</li>
                        <li>Сб, Вс: выходной</li>
                    </ul>
                </div>
            </div>
            <div class="footer__column">
                <nav>
                    <div class="footer__title">О нас</div>
                    <ul class="footer__list menu">
                        <li class="menu-item"><a href="#">Оплата и доставка</a></li>
                        <li class="menu-item"><a href="#">Гарантии и условия возврата</a></li>
                        <li class="menu-item"><a href="#">Скидки</a></li>
                        <li class="menu-item"><a href="#">Новые поступления</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <nav>
                    <div class="footer__title">Магазин</div>
                    <ul class="footer__list menu">
                        <li class="menu-item"><a href="#">Женский каталог</a></li>
                        <li class="menu-item"><a href="#">Мужской каталог</a></li>
                        <li class="menu-item"><a href="#">Детский каталог</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <nav>
                    <div class="footer__title">Дополнительно</div>
                    <ul class="footer__list menu">
                        <li class="menu-item"><a href="#">Политика конфединциальности</a></li>
                        <li class="menu-item"><a href="#">Пользовательское соглашение</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__img"><img src="img/svg/visa.svg" alt=""></div>
        <div class="footer__img"><img src="img/svg/mastercard.svg" alt=""></div>
        <span>© 2020 — uacasual.shop</span>
    </div>

</footer>