<div class="products-slider__item product-small">
    <div class="product-small__img">
        <a href="#">
            <img src="img/products/@@img" alt="">
            <div class="product-small__label">
                <div class="label label-red">Топ</div>
                <div class="label label-green">80%</div>
            </div>
        </a>
    </div>

    <div class="product-small__price price">
        <del><span class="amount">950 ₴</span></del>
        <ins><span class="amount">800 ₴</span></ins>
    </div>

    <div class="product-small__title">
        <a href="#">Льняной костюм «Джоли» </a>
    </div>
</div>