<div class="reviews__item review">
    <div class="review__header">
        <div class="review__img"><img src="img/single-product/gravatar.svg" alt=""></div>
        <div class="review__meta">
            <span>Антон</span> 
            <time>1 Августа 2020, 12:47</time>
            <div class="rating ">
                <div class="rating__star rating__star-filled"></div>
                <div class="rating__star rating__star-filled"></div>
                <div class="rating__star rating__star-filled"></div>
                <div class="rating__star rating__star-filled"></div>
                <div class="rating__star"></div>
            </div>
        </div>
    </div>
    <div class="review__body">
        <p>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития. </p>
        <div class="review">
            <div class="review__body">
                <div class="review__header"><span>Менеджер</span></div>
                <p>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития. </p>
            </div>
        </div>
    </div>

</div>