<div class="products-section__item product">
    <div class="product__labels">
        <div class="label label-red">Топ</div>
        <div class="label label-green">80%</div>
    </div>
    
    <div class="product__img">
        <a href="/single-product.html">
            <img src="img/products/@@img" alt="">
            <div class="product__galery product-gallery">
                <div class="product-gallery__slide"><img data-src="img/products/02.jpg" alt=""></div>
                <div class="product-gallery__slide"><img data-src="img/products/04.jpg" alt=""></div>
                <div class="product-gallery__slide"><img data-src="img/products/02.jpg" alt=""></div>
                <div class="product-gallery__slide"><img data-src="img/products/04.jpg" alt=""></div>
                <div class="product-gallery__slide"><img data-src="img/products/02.jpg" alt=""></div>
                <div class="product-gallery__progress"></div>
            </div>
        </a>
    </div>

    <div class="product__panel">
        <div class="product__info">
            <div class="product__main">
                <div class="product__title"><a href="/single-product.html">Штаны джоггеры</a> </div>
                <div class="product__rating rating rating-white">
                    <div class="rating__star rating__star-filled"></div>
                    <div class="rating__star rating__star-filled"></div>
                    <div class="rating__star rating__star-filled"></div>
                    <div class="rating__star rating__star-filled"></div>
                    <div class="rating__star"></div>
                </div>
            </div>
            <div class="product__price price">
                <del><span class="amount">800 ₴</span></del>
                <ins><span class="amount">800 ₴</span></ins>
            </div>
        </div>

        <div class="product__props">
            <div class="product__sizes sizes sizes-small">
                <div class="sizes__item">XXS</div>
                <div class="sizes__item">XS</div>
                <div class="sizes__item">M</div>
                <div class="sizes__item">L</div>
                <div class="sizes__item">XL</div>
                <div class="sizes__item">XXL</div>
            </div>
        </div>

        <div class="product__buy">
            <div class="product__buttons">
                <a class="product__add-to-cart buble-hover" href="#">
                    <i class="icon icon-cart icon-small"></i>
                    <span class="buble"></span>
                    <span>В корзину</span>
                </a>
                <a class="product__buy-in-click buble-hover" href="#">
                    <i class="icon icon-click icon-small"></i>
                    <span class="buble"></span>
                    <span>В один клик</span>
                </a>
            </div>
        </div>
    </div>
</div>