$color_text: #242424;
$color_brown: #FFE1C8;
$color_darkbrown: #F1C29B;
$color_grey: #898989;
$color_midlegrey: #E1E1E1;
$color_darkgrey: #393939;
$color_mainbackground: #F9F9F9;
$color_white: #ffffff;
$color_alert: #FF4500;
$color_ok: #79E6C1;;

$shadow_elem: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
$shadow_elem_hover: 2px 4px 25px rgba(0, 0, 0, 0.45);
