.single-gallery {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-self: flex-start;
    position: relative;
    align-items: center;

    @media (max-width:$md2+px) {
        align-items: flex-start;
    }

    @media (max-width:$md3+px) {
        display: block;
    }
    
    &__navigation{
        align-self: center;
        position: relative;
        height: 100%;
        margin: 0 30px 0 0;
        
        @media (max-width:$md3+px) {
            display: none;
        }

        .single-gallery__btn-next, .single-gallery__btn-prev{
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30px;
            outline: none;

            &:after{
                content: '';
                width: 20px;
                height: 20px;
                color:  $color_darkgrey;
                border-top: 2px solid;
                border-right: 2px solid;
                transition: opacity .4s, color .4s;
                opacity: 1;
            }

            &:not(.disabled):hover{
                cursor: pointer;
                &:after{
                    color: $color_darkbrown;
                }
            }

            &.disabled{
                &:after{
                    opacity: 0.3;
                }
            }
        }

        .single-gallery__btn-next{
            bottom: 0;
            transform: translateY(100%);

            &:after{
                transform: rotate(135deg);
            }
        }

        .single-gallery__btn-prev{
            top: 0;
            transform: translateY(-100%);

            &:after{
                transform: rotate(-45deg);
            }
        }
    }

    &__thumbnails-nav {
        max-height: 600px;
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.2s;

        &:not(.swiper-container-initialized){
            opacity: 0;
        }

        .swiper-slide {
            border-radius: 5px;
            box-shadow: $shadow_elem;
            overflow: hidden;
            cursor: pointer;

            &.active{
                padding: 0;
                border-radius: 5px;
                box-shadow: 3px 3px 0px $color_darkbrown, -3px 3px 0px $color_darkbrown, 3px -3px 0px $color_darkbrown, -3px 0px 0px $color_darkbrown, -3px -3px 0px $color_darkbrown;
            }

            img{
                display: block;
                width: 105px;
                height: 125px;
                object-fit: cover;
                box-sizing: border-box;
            }
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        align-self: stretch;

        .swiper-pagination{
            transform: translate(-50%, 40px)!important;
            bottom: 0;
            
            @media (min-width:$md3+px) {
                display: none;
            }
        }

        img{
            display: block;

            height: 100%;
            width: 100%;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: $shadow_elem;

            object-fit: cover;
            object-position: center;

            margin: 0 auto;

            max-height: 670px;

            @media (max-width:$md0+px) {
                max-height: 600px;
                height: 600px;
            }

            @media (max-width:$md6+px) {
                max-height: 550px;
            }
        }

        .swiper-lazy{
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .swiper-lazy-loaded{
            opacity: 1;
        }
    }
}